body {
    background-color: #BAEEFD;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

header, footer {
    text-align: center;
    width: 100%;
    margin: 30px auto 0 auto;

}

main {
    width: 30%;
    margin: 30px auto 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
    margin: 0;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input {
    display: inline;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    font-weight: 200;
    width: 80%;
}

input[type="submit"] {
    background-color: #17C5F7;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
}

select {
    float: left;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 18px;
    width: 95%;
}

button {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 10%;
}

footer {
    font-weight: 100;
}

/* ids */

#arroba {
    float: left;
    width: 5%;
    background-color: #ced4da;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

#username {
    float: left;
}

#email {
    float: left;
    border-radius: 5px;
    width: 90%;
}

#error-message {
    color: red;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}